<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsinventiv.toolsbazzar">

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.ListOfProducts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.CustomerVerficiation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.Cart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MyOrders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ProductDescription"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Checkout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MyProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.OrderPlaced"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WholesaleLiveChat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ViewProduct"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://recipe-app.com/recipe" -->
                <data
                    android:host="fortcity.com"
                    android:pathPrefix="/product"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMain.NoActionBar" />
        <activity
            android:name=".Activities.Search"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.LiveChat"
            android:screenOrientation="portrait" />

        <service android:name=".Utils.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.Welcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.ChooseLocation" />
        <activity
            android:name=".Activities.AboutUs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TermsAndConditions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ViewPictures"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Activities.Whishlist" />
        <activity android:name=".Activities.RecentlyViewed.RecentViewedActivity" />
        <activity
            android:name=".Activities.TrackOrder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.ProductComments" />
        <activity android:name=".Activities.SizeChart" />
        <activity android:name=".Activities.No_Internet" />
        <activity android:name=".ListOfStrores.StoresList" />
        <activity android:name=".Activities.ChooseLanguage" />
        <activity android:name=".Activities.AccountIsDisabled" />
        <activity android:name=".Activities.ChooseCountry" />
        <activity android:name=".Activities.NewSales" />
        <activity android:name=".Activities.ChooseCategory" />
        <activity
            android:name=".Activities.ViewInvoice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.ChooseMainCategory" />
        <activity android:name=".Activities.ChooseAddress" />
        <activity
            android:name=".Seller.SellerTermsAndConditions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Seller.SellerLogin"
            android:theme="@style/AppTheme.NoActionBar1" />
        <activity
            android:name=".Seller.SellerVerficiation"
            android:theme="@style/AppTheme.NoActionBar1" />
        <activity
            android:name=".Seller.SellerRegister"
            android:theme="@style/AppTheme.NoActionBar1" />
        <activity
            android:name=".Seller.SellerScreen"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".Customer.CustomerScreen"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".Seller.SellerMainActivity"
            android:label="@string/title_activity_seller_main"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".Seller.SellerAddProduct"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.AddProductWeight"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.ProductUploaded"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.SellerListOfProducts"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.EditProduct"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.SellerOrders.Orders"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.SellerOrders.ViewUnderProcessOrder"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.SellerOrders.OrdersCourier"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.SellerOrders.ViewDeliveryShippedOrder"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.SellerOrders.ViewOrder"
            android:theme="@style/AppThemeGreen" />
        <activity android:name=".Activities.NewCart" />
        <activity
            android:name=".Seller.SellerViewProduct"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen.NoActionBar" />
        <activity
            android:name=".Seller.Sales.SellerSales"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.SellerProfile"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.SellerChat.SellerChats"
            android:theme="@style/AppThemeGreen" />
        <activity android:name=".Activities.ViewOrderStatus" />
        <activity
            android:name=".Activities.SellerStoreView"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>