<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsinventiv.toolsbazzar">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />


    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.ListOfProducts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.CustomerVerficiation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.Cart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CustomerOrders.MyOrders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ProductDescription"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <!--<activity-->
        <!--android:name=".Activities.Splash"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="android.intent.category.LAUNCHER" />-->

        <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name=".Activities.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity-alias-->
        <!--android:name=".SplashAliasActivity"-->
        <!--android:enabled="false"-->
        <!--android:icon="@drawable/admin_logo"-->
        <!--android:label="Fort City"-->
        <!--android:targetActivity=".Splash">-->

        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->

        <!--</activity-alias>-->

        <activity
            android:name=".Activities.Checkout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MyProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.OrderPlaced"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WholesaleLiveChat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ViewProduct"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlackClock.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://recipe-app.com/recipe" -->
                <data
                    android:host="fortcity.com"
                    android:pathPrefix="/product"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.FortcityFeatures"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Activities.ClientProhibted"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Activities.SellerProhibted"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Search"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.LiveChat"
            android:screenOrientation="portrait" />

        <service android:name=".Utils.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.Welcome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.ChooseLocation" />
        <activity
            android:name=".Activities.AboutUs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TermsAndConditions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ViewPictures"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Whishlist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RecentlyViewed.RecentViewedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.TrackOrder"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ProductComments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SizeChart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Seller.SellerSizeChart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.No_Internet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListOfStrores.StoresList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ChooseLanguage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AccountIsDisabled"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ChooseCountry"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.NewSales"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ConnectWithUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ChooseCategory"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.SellerPendingProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Seller.SellerRejectedProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ViewInvoice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ChooseMainCategory"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Activities.ChooseAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Seller.SellerTermsAndConditions"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Seller.SellerLogin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar1" />
        <activity
            android:name=".Seller.SellerVerficiation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar1" />
        <activity
            android:name=".Seller.SellerRegister"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar1"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Seller.SellerScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".Customer.CustomerScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".Seller.SellerMainActivity"
            android:label="@string/title_activity_seller_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".Seller.SellerAddProduct"
            android:theme="@style/AppThemeGreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Seller.AddProductWeight"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Seller.SellerProductComments"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.ProductUploaded"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.SellerListOfProducts"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.EditProduct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.SellerOrders.Orders"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.SellerOrders.ViewUnderProcessOrder"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.SellerOrders.OrdersCourier"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.SellerOrders.ViewDeliveryShippedOrder"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.SellerOrders.ViewOrder"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen" />
        <activity android:name=".Activities.NewCart" />
        <activity
            android:name=".Seller.SellerViewProduct"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen.NoActionBar" />
        <activity
            android:name=".Seller.Sales.SellerSales"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".Seller.SellerAddBankAccount"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Seller.Reviews.SellerProductReviews"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Seller.ListOfOtherStores"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Seller.SellerProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Seller.SellerChat.SellerChats"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen" />
        <activity android:name=".Activities.ViewOrderStatus" />
        <activity
            android:name=".Seller.SellerStore.SellerStoreView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StickTabs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Seller.SellerLocked"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Seller.SupportCenter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Seller.SellerViewPictures"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ProductManagement.ChooseProductVariation" />
        <activity android:name=".ProductManagement.CategoryPackage.ChooseOtherMainCategory" />
        <activity
            android:name=".ProductManagement.AttributesManagement.ChooseAttributes"
            android:theme="@style/AppThemeGreen"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ProductManagement.AttributesManagement.ChooseSKU"
            android:theme="@style/AppThemeGreen"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ProductManagement.AttributesManagement.ChooseWarrenty"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".ProductManagement.AttributesManagement.DangerousGoods"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".ProductManagement.AttributesManagement.WarrentyPeriod"
            android:theme="@style/AppThemeGreen" />
        <activity
            android:name=".ProductManagement.AttributesManagement.AssignAttributes"
            android:theme="@style/AppThemeGreen" />
        <activity android:name=".ProductManagement.AttributesManagement.ChooseAttributesAgain" />
        <activity android:name=".ProductManagement.ChooseSiz" />
        <activity android:name=".ProductManagement.AttributesManagement.EditProductVariation" />

    </application>

</manifest>